.clock {
    height: 500px;
    width: 500px;
    background: rgb(197, 64, 157);
    border-radius: 50%;
    margin: 100px auto;
    position: relative;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(177, 49, 216);


    box-shadow: 0 0 25px #931de2;
}



.sec {
    width: 2px;
    height: 200px;
    background: rgba(35, 188, 235, 0.596);
    border-radius: 1px;
    position: absolute;
    left: calc(50% - 1px);
    top: 50px;
    z-index: 3;

    /* box-shadow: 0 0 40px #646919; */

    animation-name: arrows;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.min {
    width: 6px;
    height: 230px;
    background: rgb(175, 108, 202);
    border-radius: 8px;
    position: absolute;
    left: calc(50% - 3px);
    top: 20px;
    z-index: 2;

    /* box-shadow: 0 0 15px #91d856; */

    animation-name: arrows;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.hour {
    width: 12px;
    height: 160px;
    background: rgb(92, 59, 182);
    border-radius: 8px;
    position: absolute;
    left: calc(50% - 6px);
    top: 90px;
    z-index: 1;

    /* box-shadow: 0 0 15px #5494c9; */

    animation-name: arrows;
    animation-duration: 216000s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.center {
    width: 17px;
    height: 17px;
    background: rgb(177, 49, 216);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

@keyframes arrows {
    from {
        transform: rotate(0deg);
        transform-origin: 0 100% 0;
    }

    to {
        transform: rotate(360deg);
        transform-origin: 0 100% 0;
    }
}

/* Цифры на циферблате */

p {
    margin: 0;
    color: cornsilk;
}

.number-1 {
    position: absolute;
    top: 8%;
    font-size: 20px;
    left: calc(72% - 5px);
    z-index: 1;
}

.number-2 {
    position: absolute;
    top: 25%;
    font-size: 20px;
    left: calc(90% - 5px);
    z-index: 1;
}

.number-3 {
    position: absolute;
    top: calc(50% - 11.2px);
    font-size: 20px;
    right: 2%;
    z-index: 1;
}

.number-4 {
    position: absolute;
    left: calc(90% - 5px);
    font-size: 20px;
    bottom: 25%;
    z-index: 1;
}

.number-5 {
    position: absolute;
    bottom: 8%;
    font-size: 20px;
    left: calc(72% - 5px);
    z-index: 1;
}

.number-6 {
    position: absolute;
    bottom: 2%;
    font-size: 20px;
    left: calc(50% - 5px);
    z-index: 1;
}

.number-7 {
    position: absolute;
    bottom: 8%;
    font-size: 20px;
    right: calc(72% - 5px);
    z-index: 1;
}

.number-8 {
    position: absolute;
    right: calc(90% - 5px);
    font-size: 20px;
    bottom: 25%;
    z-index: 1;
}

.number-9 {
    position: absolute;
    top: calc(50% - 11.2px);
    font-size: 20px;
    left: 2%;
    z-index: 1;
}

.number-10 {
    position: absolute;
    top: 25%;
    font-size: 20px;
    right: calc(90% - 10px);
    z-index: 1;
}
.number-11 {
    position: absolute;
    top: 8%;
    font-size: 20px;
    right: calc(72% - 10px);
    z-index: 1;
}

.number-12 {
    position: absolute;
    top: 2%;
    font-size: 20px;
    left: calc(50% - 10px);
    z-index: 1;
}